<header>
  <h1>Angular + D3</h1>
</header>
<!-- Version 1 Components-->
<app-bar></app-bar>

<app-pie></app-pie>

<app-scatter></app-scatter>

<!-- Version 2 Components-->
<!-- <app-bar2 chartName="barA" [data]="barChartData"></app-bar2>
<app-bar2 chartName="barB" [data]="barChartData2"></app-bar2> 
<app-pie2 chartName="piea" [data]="chartData_2D_1"></app-pie2>
<app-pie2 chartName="pieb" [data]="chartData_2D_2"></app-pie2>
<app-scatter2 chartName="scatterChart" [data]="scatterData"></app-scatter2>
-->
